@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.card {
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    height: auto;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.304);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9%;
    width: 90%;
    padding: 5%;
}

body {
    min-height: 100vh;
    padding: 10vh;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

main {
    padding: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
    padding: 0px 32px 0px 32px;
}

.scan {
    color: hsl(220, 15%, 55%);
    padding: 0px 1rem 1.2rem 1rem;
}

footer {
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 1rem 1.2rem 1rem;
}

@media(max-width:400px) {
    .card {
        width: 100%;
        margin: auto;
    }
}

.inline {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}